@model PersonViewModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Simple app that creates a list with options to remove, enter name, enter quantity, and adds how long ago the item was added.</p>
    <p>For example: A grocery list for shopping.</p>
    <p>Please log in to view your list or register to get started.</p>
</div>

