@model LListItem

<form asp-action="AddItem" method="POST">
    <label asp-for="Title"> Add a new item:</label>
    <input asp-for="Title" />
    <label asp-for="Quantity">Quantity:</label>
    <input asp-for="Quantity" />
    <button type="submit">Add</button>
</form>